<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<title></title>
</head>

<body>
<ul class="nav nav-tabs">
  <li role="presentation"><a href={{url_for('index')}}>Home</a></li>
  <li role="presentation"><a href={{url_for('login')}}>Log in</a></li>
  <li role="presentation" class="active"><a href='#'>Log Out</a></li>
</ul>
<div class="form-group col-md-4"><h1>Are You Sure You Want To Log Out, Soldier?</h1>

<form action={{url_for('are_you_sure_to_log_out')}} method="post">
	<label class="custom-control custom-radio">
  <input value="no" name="choice" type="radio" class="custom-control-input">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">No</span>
</label>
<label class="custom-control custom-radio">
  <input value="yes" name="choice" type="radio" class="custom-control-input">
  <span class="custom-control-indicator"></span>
  <span class="custom-control-description">Yes</span>
</label>
	<br><input class="form-control" type="submit" value="Submit"></div>
</form>
</body>
</html>