<!DOCTYPE html>
<html><html lang="en">

<head>
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="static/css/bootstrap.css">
<script type="text/javascript" src="static/js/bootstrap.js"></script>

<title>MI6 Agency's Drink Shop</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">


    <!-- Bootstrap Core CSS -->



    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>

 <!-- Navigation -->
    <nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="{{url_for('index')}}">MI6 Agency's Drink Shop</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a href={{url_for('shoppingCart')}}><span class="glyphicon glyphicon-shopping-cart"> </span> Shopping Cart</a></li>
      <li><a href={{url_for('checkout')}}><span class="glyphicon glyphicon-check"> </span> Checkout</a></li>
    </ul>
    <ul class="nav navbar-nav navbar-right">
      <li><a href={{url_for('newCustomer')}}><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
      <li><a href={{url_for('login')}}><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      <li><a href={{url_for('are_you_sure_to_log_out')}}><span class="glyphicon glyphicon-log-out"></span> Log Out</a></li>
    </ul>
  </div>
</nav>
    <!-- Page Content -->
    <div class="container">

        <div class="row">

<div class="col-md-1"></div>
            <div class="col-md-10">

<h1>Are You ready to check out, 00-{{shoppingCart.customer.name}}?</h1>
{%if shoppingCart.products==[]%}
<p>There are no items in your shopping cart, agent.</p>
{%else%}
<table class="table table-hover">
	<thead>
	<tr>
		<th>Name</th><th>Price (one)</th><th>Quantity</th><th>Total</th>
	</tr>
	</thead>
	{%for item in shoppingCart.products %}
	<tr><tbody>
		<td>{{item.product.name}}</td>
		<td>${{item.product.price}}</td>
		<td>{{item.quantity}}</td>
		<td>${{(item.product.price|float*item.quantity)}}</td>
	</tbody></tr>
	{%endfor%}
<th></th><th></th><th>Total</th><th>${{total}}</th>
</table>
<div class="form-group">
<form action="{{url_for('checkout')}}" method="post">
	<input type="hidden" name="total" value={{total}}>	
	<input class="form-control" type="submit" value="Checkout">
</form>
</div>
</div>
</div>
</div>
{%endif%}
</body>
</html>