<head>
<link rel="stylesheet" type="text/css" href="assets/css/bootstrap.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
</head>
<body><div>
<h1>Thank You, Agent!</h1>
<p>Your order confirmation is {{order.confirmation}}</p>
<p>Shipping to {{order.customer.adress}}</p>
<a href={{url_for('inventory')}}>Back to home page</a></div></body>